footer {
  background-color: var(--light-tertiary-color);
}

footer .contact__content {
  text-align: center;
  padding: 6rem 2rem 1rem;
  max-width: 47rem;
}

fieldset {
  border: none;
}

.fieldset-wrapper{
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.input-wrapper{
  display: flex;
  flex-direction: column;

}